<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>World Data Visualization</title>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Play|Yantramanav" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" href="/css/styles.css">

</head>

<nav>
	<div class="nav-wrapper">
		<a href="#" class="icon left">
			<img id="world" src="/img/world.png" />
		</a>
		<a href="#" class="brand-logo right">World Data Visualization</a>
	</div>
</nav>

{{{ body }}}
</body>

</html>