/* Nav Bar */
nav {
  color: #fff;
  background-color: black;
}

#home,
#articleHB {
  font-family: 'Yantramanav', sans-serif;
  font-size: 18px;
  margin-left: 20px;
}

/* Nav Logo */
nav .brand-logo.right {
  right: 3.5rem;
  font-family: 'Play', sans-serif;
}

/* World Icon */
#world {
  height: 45px;
  width: 45px;
  margin-left: 40px;
  margin-top: 8px;
}

/* Range Slider */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.range-slider {
  width: 100%;
}

.row .col.s5 {
  width: 48.666667%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #000000;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #000000;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #000000;
}

.range-slider__range:active::-moz-range-thumb {
  background: #000000;
}

.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #000000;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #000000;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #000000;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.range-slider__value {
  float: right;
  margin-top: 15px;
}

#year {
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  float: left;
}

/* Headers */
#country,
#description,
#articles,
#dropdown {
  font-family: 'Yantramanav', sans-serif;
}

h4 {
  font-size: 20px;
}

/* Dropdown Box */
#dropdown {
  margin-top: 20px;
  margin-right: 35px;
}

/* Submit Button */
#submitButton {
  margin-top: 20px;
  padding: 0px 30px 0px 30px;
}

/* Gradient */
#gradient {
  position: relative;
  border-radius: 12px;
  height: 20px;
  width: 100%;
  z-index: 2;
  top: 840px;
}

#low {
  position: relative;
  margin-top: 0px;
  z-index: 2;
  top: 836px;
}

#high {
  position: relative;
  float: right;
  margin-top: -38px;
  z-index: 2;
  top: 836px;
}

#country {
  display: none;
}

/* Articles */
article {
  border: 1px solid black;
  padding: 30px;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
}

.articleHead {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0px
}

.btn {
  float: right;
}

/* Description Box */
#description {
  text-align: justify;
  font-family: 'Yantramanav', sans-serif;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  /* Range Slider */
  .row .col.s5 {
    width: 100%;
  }

  /* Dropdown */
  #dropdown {
    width: 100%;
  }

  /* Articles */
  .articleHead {
    font-size: 15px;
  }
  h5 {
    font-size: 10px;
  }
  article {
    padding: 10px;
  }
  .website {
    font-size: 10px;
  }
  .btn {
    height: 30px;
    line-height: 25px;
    padding: 0px 12px;
    font-size: 10px;
  }

  /* Nav Bar */
  nav .brand-logo.right {
    right: 1.5rem;
    font-size: 25px;
  }
  #world {
    height: 37px;
    width: 37px;
    margin-left: 21px;
    margin-top: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .row .col.s4 {
    width: 28.333333%;
  }
  .row .col.s5 {
    width: 41.666667%;
  }
}

@media only screen and (min-width: 992px) {
  .row .col.s5 {
    width: 49.666667%;
  }
}

@media only screen and (min-width: 1200px) {

}