nav {
    color: #fff;
    background-color: black;
}

nav .brand-logo.right {
    right: 3.5rem;
    font-family: 'Play', sans-serif;
}

#world {
    height: 45px;
    width: 45px;
    margin-left: 40px;
    margin-top: 8px;
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .range-slider {
    width: 100%;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #000000;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #000000;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #000000;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #000000;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #000000;
  }
  
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #000000;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #000000;
    border-bottom: 7px solid transparent;
    content: '';
  }
  
  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }
  

.range-slider {
    margin: 0 34px 0 65px;
}

.range-slider__value {
    float: right;
    margin-top: 15px;
}

.btn {
    font-family: 'Yantramanav', sans-serif;
    padding: 15px 45px 30px 45px;
    line-height: 16px;
    font-size: 18px;
    margin-top: 20px;
}

#worldImg {
    width: 100%;
}

#year {
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
    float: left;
}

#country,
#description,
#articles,
#dropdown {
    font-family: 'Yantramanav', sans-serif;
}

#dropdown {
    margin-top: 20px;
    margin-right: 35px;
}
